@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

body * {
    font-family: 'Syne', sans-serif;
}

#site-header {
    color: #FFFFFF;
}

#site-header a {
    color: #000000;
    text-decoration: none;
}

#site-header.sticky-top {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #FFFFFF;
}

li.menu-item a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}

li.menu-item a:hover {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none !important;
}

.menu-item-48 a {
    padding: 30px 61px 31px 61px;
    margin-right: 60px;
    display: flex;
    align-items: center;
}

.menu-item-49 a {
    color: #FFFFFF !important;
    background-color: #DC9F96;
    width: 236px;
    height: 80px;
    padding: 30px 61px 31px 61px;
    margin-left: 61px;
    text-align: center;
    align-items: center;
}

.menu-item-49 a:hover {
    background-color: #C02E44;
    font-size: 16px !important;
    font-weight: 400 !important;
}

#site-footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background: #FFFFFF;
}

#site-footer a.footer {
    color: #000000;
    font-family: syne;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

#site-footer a.footer:hover {
    text-decoration: none;
}