@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

body * {
    font-family: 'Syne', sans-serif;
}


/* Header site */

#site-header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

#site-header a {
    color: #000000;
    text-decoration: none;
}

#site-header.sticky-top {
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 0;
    margin: 0;
}

.header-inner,
section-inner {
    margin-right: 0;
}


/* Menu haut */

li.menu-item a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}

li.menu-item a:hover {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none !important;
}

.menu-item-48 {
    padding: 30px 61px 31px 61px;
    display: flex;
    align-items: center;
}

.menu-item-49 a {
    color: #FFFFFF !important;
    background-color: #DC9F96;
    width: 236px;
    height: 80px;
    padding: 30px 61px 31px 61px;
    text-align: center;
    align-items: center;
}

.menu-item-49 a:hover {
    background-color: #C02E44;
    font-size: 16px !important;
    font-weight: 400 !important;
}


/* Formulaire de contact */

.form_contact input,
textarea {
    border-radius: 5px;
}


/* Formulaire de commande */

.quantity-form {
    display: flex;
    font-family: 'Syne', sans-serif;
}

.input-quantity {
    height: 56px;
    border-style: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

input.input-quantity {
    width: 75px;
    border-radius: 5px 0 0 5px;
}

.quantity-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 0 5px 5px 0;
    margin-right: 20px;
    background-color: #FFFFFF;
}

.quantity-button {
    border: none;
    background-color: #DC9F96;
    color: #FFFFFF;
    height: 27px;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    border-radius: 0 5px 5px 0;
}

a.quantity-button {
    width: 31px;
}

.order-button {
    background-color: #E0B9B4;
    color: #FFFFFF;
    height: 56px;
    padding: 0 55px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;
}

a.order-button {
    width: 140px;
}

#left {
    width: 47%;
    margin-right: 25px;

    .infos {
        font-family: 'Syne', sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #FFFFFF;
        margin-top: 0px;
    }
}

#right {
    width: 47%;
    border-left: 1px solid #FFFFFF;
    padding-left: 24px;

    .infos {
        font-family: 'Syne', sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #FFFFFF;
        margin-top: 0px;
    }
}

.form_precommande:after {
    content: "\0020";
    display: flex;
    visibility: hidden;
    overflow: hidden;
    margin-bottom: 10px;
}

.form_precommande {
    display: flex;
}

.form_precommande label {
    color: #FFFFFF;
    font-family: Syne;
    font-weight: 400;
    font-size: 20px;
}

.form_precommande input {
    border-radius: 5px;
}

.wpcf7 input[type=submit] {
    color: #FFFFFF;
    background-color: #E0B9B4;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 44px;
    margin-bottom: 93px;
}

.wpcf7 input[type=submit]:hover {
    background-color: #C02E44;
    text-decoration: none;
}

#commander:hover {
    background-color: #C02E44;
    text-decoration: none;
}


/* Footer site */

#site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #000000;
    background: #FFFFFF;
}

#site-footer a.footer {
    color: #000000;
    font-family: syne;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

#site-footer a.footer:hover {
    text-decoration: none;
}


/* Media queries */

@media only screen and (max-width: 768px) {
    .form_precommande {
        flex-direction: column;
    }

    #left {
        width: 100%;
    }

    #right {
        width: 100%;
        border: none;
        padding-left: 0;
    }
}